<a href="https://colab.research.google.com/github/ishizukamaaya/CARAVAN/blob/main/population.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
df_population_data = pd.read_csv('/content/drive/My Drive/data.csv', encoding='shift-jis')

In [13]:
df_population_data

                                               都道府県コード  ...     人口（女）
0                                                   00  ...  27918868
1                                                   01  ...   1114861
2                                                   02  ...    375161
3                                                   03  ...    424471
4                                                   04  ...    476459
..                                                 ...  ...       ...
977                                                 45  ...    584827
978                                                 46  ...    875116
979                                                 47  ...    728947
980                         1)　沖縄県は調査されなかったため，含まれていない。  ...       NaN
981  2)　長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...  ...       NaN

[982 rows x 9 columns]

In [15]:
type(df_population_data)

pandas.core.frame.DataFrame